mixin room-card({ title, image, size, area, cost })
  article.room-card
      img.room-card__image(src=image alt="" ) 
      h2.room-card__heading.heading #{title}
      dl.room-card__characteristics
          div
            dt.room-card__characteristic-name Размеры (ШхГхВ) - 
            dd.room-card__characteristic-value #{size}
          div
            dt.room-card__characteristic-name Площадь - 
            dd.room-card__characteristic-value #{area}
          div.room-card__characteristic-icon
            dt.room-card__characteristic-name Оснащение номера
            dd.room-card__characteristic-value.room-card__characteristic-value_icon 
              img(src="images/slashed-zero.png")
          div
            dt.room-card__characteristic-name Цена за сутки: 
            dd.room-card__characteristic-value.room-card__characteristic-value_cost #{cost}
      div.room-card__bottom
        button.button.button_primary.room-card__button Забронировать